div.fichaP {
    display: flex;
    padding-top: 20px;
    align-items: center;
    flex-direction: column;
    background: white;

}

label.labelFicha {
    color: #05313A;
    font-family: Poppins;
    font-size: 35px;
    font-size: oblique;
}

div.container {
    padding: 8px;
}

h5.datos {
    color: #05313A;
    font-family: Poppins;
    margin-left: 40px;
    margin-top: 5px;
    font-size: 23px;
    text-align: center;
}

div.tableO {
    position: absolute;
    top: 60px;
    right: 30px;
}

label.InputS {
    font-family: Poppins;
}

h5.textI {
    color: #05313A;
    font-family: Poppins;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 20px;
}

div.botones {
    display: flex;
    justify-content: center;
}

div.btnOdonto {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

Button.BotonE {
    margin-bottom: 25px;
    font-family: Poppins;
    margin-left: 53%;
    margin-top: 20px;
    height: 60px;
    width: 38%;
    background-image: url(../../Image/chequeo-dental\ \(3\).png);
    background-color: whitesmoke;
    border-color: rgb(0, 0, 0);
}

#dropP {
    margin-bottom: 25px;
    font-family: Poppins;
    margin-top: 20px;
}

#card1 {
    margin-bottom: 10px;
}

#txtInput {
    margin: 5px;
}

#textA {
    overflow: hidden;
    height: 50px;
    width: 98%;
    margin: 5px;
}

#span1 {
    margin-top: 20px;
}

#btnCrear {
    width: 16%;
    background-image: url(../../Image/agregar.png);
    background-color: white;
    border-color: black;
    margin-right: 5px;
}

#btnEditar {
    width: 16%;
    height: 10%;
    background-image: url(../../Image/editar.png);
    background-color: white;
    border-color: black;
    margin-right: 5px;
}

#cardTable {
    width: 100%;
    height: 40%;
    margin-top: 70px;
}

#divButton {
    margin-bottom: -14px;
    margin-left: 74%;
    margin-top: -97px;
}

#botonEliminar {
    margin-left: 450px;
    margin-top: -25px;
    color: black;
}

#botonDiv {
    margin-top: -25px;
}